*,
::before,
::after {
	background-repeat: no-repeat;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	cursor: default;
}

body {
	font-family: 'Slabo 27px', serif;
  margin: 0;
  padding: 0;

  .wrapper {
		padding-top: 10px;

		.control {
			display: flex;
			justify-content: center;
			margin-bottom: 20px;

			.search {
				position: relative;

				.error-message {
					bottom: -17px;
					color: red;
					font-size: 12px;
					left: 1;
					position: absolute;
				}
			}

			input {
				border-radius: 3px;
				border: 1px solid #00516a;
				font-size: 14px;
				margin-right: 20px;
				padding: 10px 20px;
				outline: none;
			}

			button {
				background: linear-gradient(to right, #0092be , #00516a);
				border: 0;
				border-radius: 3px;
				cursor: pointer;
				color: #fff;
				font-size: 14px;
				letter-spacing: .5px;
				padding: 10px 20px;
				outline: none;
				text-transform: uppercase;
				text-shadow: 1px 1px rgba(#000, .9);
			}
		}

		main {
	    display: flex;
			flex-wrap: wrap;
			justify-content: center;

	    .image {
				border: 1px solid #ccc;
  			box-shadow: 0 8px 4px -4px #aaa;
				display: flex;
				justify-content: center;
				height: 320px;
				margin: 10px;
				transition: box-shadow .5s;
				width: calc(100vw / 5 - 22px);

	      img {
					object-fit: contain;
					max-width: 100%;
					max-height: 100%;
	      }

				&:hover {
					box-shadow: 0 10px 10px 1px #aaa;
				}
	    }
	  }

	  .show-more {
			background: linear-gradient(to right, #0092be , #00516a);
			border-radius: 3px;
			border: 0;
			color: #fff;
			cursor: pointer;
			font-size: 16px;
			display: block;
			font-size: 100%;
			font-weight: bold;
			letter-spacing: 1px;
			margin: 10px auto;
			padding: 12px 0;
			text-align: center;
			text-transform: uppercase;
			text-shadow: 1px 1px rgba(#000, .9);
			transition: all .3s ease;
			width: 180px;

			&.hide {
				display: none;
			}
	  }
  }
}

@media only screen and (max-width: 1250px) {
	body {
		.wrapper {
			main {
				.image {
					width: calc(100vw / 3 - 22px);
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	body {
		.wrapper {
			main {
				.image {
					width: calc(100vw - 22px);
				}
			}
		}
	}
}
